@import url('https://fonts.googleapis.com/css?family=Roboto%20Condensed:300,400,700&display=swap');
@font-face {
    font-family: 'Leinero';
    src: url('fonts/leinero.woff') format('woff'); /* Pretty Modern Browsers */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

title{
    font-size: 24px;
}

nav {
    list-style: none;
}

a:hover {
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}
h2{
    font-weight: 300;
    font-size: 36px;
}

.flex{
    display: flex;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
    h2{
        font-size: 20px;
    }
    title{
        font-size: 16px;
    }
    section {
        padding: 50px 20px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

}
